svg {
    /* --primary-color: blue;
    --grid__frame: red;
    --grid: yellow;
    --channel-highlight: green */

    /*gradient, stroke*/
    --MTX: cyan;
    --WB: magenta;
    --KAHUNA: red;
    --EVERTZ: blue;
    --TVLOGIC: var(--EVERTZ);
    --PANASONIC: var(--EVERTZ);
}

.grid {
    /*--region: 'А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Ъ, Ы, Ь, Э, Ю, Я';*/
     --region: 'A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y'; 

    /* green */  --group1: 'A1, A2, A3, A4, A5';
    /* red */    --group2: 'B1, C1, D1';
    /* blue */   --group3: 'B2, C2, D2, E2';
    /* orange */ --group4: 'B3, B4, B5';
    /* purple */ --group5: 'C3, C4, C5';
    /* aqua */   --group6: 'E2, E4';
    /* pink */   --group7: 'F1, F3';
    /* black   --group8: 'A1, A2, A3'; */
}

/* .grid__cell {
    --group8: black;
} */

.signature {
    /*--title: 'Моя схема подключений';
    --check: 'А.Б.Проверкин';
    --dev: 'В.Г.Разработкин';
    --organization: 'Д.О.М.';
    --department: 'отдел автоматизации рутинных задач';*/
    --date: '{datetime}';

    --text1: 'Название схемы из файла "./custom.css"';
    --text2: '{datetime}';
}

.arrow_split {
    stroke-dasharray: 100% 4 10 4 10 4 10 4 10 4 10 4 10 4 10 4;
    stroke: var(--primary-color)
}
